.content {
    padding: 0px 20px;
    @apply relative flex-1 min-w-0 min-h-screen pt-20 pb-2 mt-1 bg-slate-100 dark:bg-darkmode-700;
    @include media-breakpoint-down(md) {
        @apply max-w-full px-0 pt-0 mt-0;
    }
    &:before {
        content: "";
        @apply block w-full h-px;
    }
    &.content--top-nav {
        border-radius: 35px 35px 0 0;
        @apply pt-0 mt-5;
    }
}
