.lss-mobile-menu {
    @apply border-b border-white/[0.08] -mt-0 -mx-8 mb-0 dark:bg-darkmode-600;
    @include media-breakpoint-down(sm) {
        @apply -mx-3;
    }
    .mobile-menu-bar {
        height: 70px;
        @apply flex items-center px-8;
        @include media-breakpoint-down(sm) {
            @apply px-3;
        }
    }
    ul {
        &.menu__sub-open {
            @apply block;
        }
        li {
            max-width: 1280px;
            @apply w-full mx-auto;
            ul {
                @apply hidden mx-6 my-1 rounded-md bg-black/10 dark:bg-darkmode-700;
                @include media-breakpoint-down(sm) {
                    @apply mx-3;
                }
                .menu {
                    @apply px-4;
                }
                ul {
                    @apply hidden mx-0 rounded-md bg-black/10 dark:bg-darkmode-600;
                }
            }
        }
    }
    .menu__devider {
        @apply w-full h-px bg-white/[0.08] relative;
    }
    .menu {
        height: 50px;
        @apply flex items-center px-10 text-white;
        @include media-breakpoint-down(sm) {
            @apply px-5;
        }
        .menu__title {
            @apply flex items-center w-full ml-3;
            .menu__sub-icon {
                @apply ml-auto transition duration-100 ease-in;
                svg {
                    @apply w-5 h-5;
                }
            }
        }
    }
}
